

.accordion{
    margin-top: 100px;

    &-header{   
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 5px;
        color: white;
        padding: 5px 10px 5px 10px;
        background-color: #33b2dd;
        position: relative;

        &_arrow{
            float: right;
            transform: rotate(90deg);
        }
    }

    &-header:hover{
        cursor: pointer;
        background-color: #116581;
        transition: ease-in-out .3s;
    }


&-content{
    margin-top: -5px;
    margin-bottom: 5px;
    border: 1px solid rgb(87, 87, 87);
    color: black;
    padding: 40px;
    &__hide{
        display: none;
    }
}

}