
.background-image{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.backgroundlabel {
    display: inline-flex;
    position: relative;
    margin-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    &_backgroundCheckbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        display: flex;
      }
  }
  .checkmark img {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    object-fit: cover
  }
  .backgroundlabel:hover input ~ .checkmark {
    opacity: 0.5;
  }
  .backgroundlabel input:checked ~ .checkmark {
    opacity: 0.5;
  }
  .checkmark:after {
    content: " ";
    position: absolute;
    display: none;
  }