

.Cards{
    margin-top: 100px;
    input{
        border-radius: 0;
        background-color: rgb(237, 237, 237);
        border: transparent;
        border-bottom: 2px solid black;
        padding: 30px;
        margin: 10px 0 40px 0;
    }
}


.cards{
    position: relative;
    box-shadow: 0px 0px 35px -10px rgba(0,0,0,0.1);
    margin: 20px 0 20px 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

   &__description{
        padding: 20px;
        overflow: hidden;
        height: 70px;

        h5 {
            overflow: hidden;
        }
        a {
            background: transparent;
            border: 1px solid rgb(219, 219, 219);
            padding: 10px;
            color: black;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 998;
        }
    }
    &:hover{
        cursor: pointer;
        transform: scale(0.97); 
        transition: ease-in-out 0.3s;
        opacity: 0.8;
    }
    &:hover:before {
        color:white;
        font-size:24px;
        padding: 10px;
        z-index: 997;
        position: absolute;
        width: 70%;
        left: 15%;
        right: 15%;
        top: 30%;
        box-shadow: 0px 0px 35px -10px rgba(0,0,0,0.1);
        transition: ease-in-out 0.3s;
        text-align: center;
        content:"VIEW MORE";
    }
}

.cards-specific{
    position: relative;
    top: 100px;

    li{
        list-style-type: none;
    }

    ul{
        padding: 0;
    }

   &__description{

        p {
            padding: 20px 0 20px 0;
            width: 50%;
            
        }
        a {
            display: none;
        }

    }
}