footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: White;
  border-top: 2px solid #F5F5F5;
  ul {
      margin: 0;
    }
  li {
      list-style-type: none; display: inline-flex; padding: 5px
    }
}
