
.navigation-container{
    padding: 20px;
    width: 80%;
    top: initial;
    bottom: 10px;
    left: 10%;
    right: 10%;
    position: fixed;
    z-index: 10;
    
    &__nav-element{
        padding: 20px 20px 20px 20px;
        color: black;
        list-style-type: none;
        font-weight: 700;
        display: inline;
    }
    a{
        text-decoration: none;
    }
    
    &__nav-element:hover{
        cursor: pointer;
        text-decoration: none;
        background-color: #F5F5F5;
        transition: ease-in-out .3s;
    }
}

@media screen and (max-width: 992px) {
    .navigation-container{
        z-index: 10;
        bottom: initial;
        top: 0;
        position: absolute;
        &__nav-element{
            display: block;
        }
    }    
  }